@model IEnumerable<BookBuddyFinal.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container-fluid">

    <div class="container">
        <div class="row p-2 m-2">


            @*<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="card">
                    <div style="text-align:center">
                        <a href="/Product/103">
                            <img class="card-img-top img-fluid" src="https://rukminim1.flixcart.com/image/416/416/k2w6xe80/book/1/6/6/success-secrets-of-amazon-original-imafm3nymrhu5nxh.jpeg" alt="Success Secrets of Amazon  (English, Paperback, unknown)">
                        </a>
                    </div>
                    <div class="card-block">
                        <a href="/Product/103" class="card-title text-muted" title="Success Secrets of Amazon  (English, Paperback, unknown)">Success Secrets of Amazon  (English, Paperback, unknown)</a>
                        <div class="card-text">
                            ₹300
                        </div>
                    </div>
                    <div class="card-footer">
                        <form method="post" action="/Cart/Add">
                            <button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
                            <div class="float-right">
                                <i class="fa fa-star star-active"></i>
                                <span> 3.00</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@





            @foreach (var item in Model)
            {

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                        <div style="text-align:center">
                            <a asp-action="Details" asp-route-id="@item.ProductId">
                                <img class="card-img-top img-fluid" src="@("/Images/"+item.ProductPic)" alt="@Html.DisplayFor(modelItem => item.ProductName)">
                            </a>
                        </div>
                        <div class="card-block">
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="card-title text-muted" title="@Html.DisplayFor(modelItem => item.ProductName)">@Html.DisplayFor(modelItem => item.ProductName)</a>
                            <div class="card-text">
                                ₹ @Html.DisplayFor(modelItem => item.Price)
                            </div>
                        </div>
                        <div class="card-footer">
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>

            }

            </div>
    </div>
</div>



            @*<div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="card" style="max-width:350px;">
                        <img class="card-img-top img-thumbnail" src="@("/Images/"+item.ProductPic)" alt="Card image cap" style="max-height:250px;">
                        <div class="card-body">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ProductName)</h5>

                            <h6 class="text-danger">  Price:   @Html.DisplayFor(modelItem => item.Price) Rs </h6>


                            <p class="card-text "> <b> Product summary:</b>  @Html.DisplayFor(modelItem => item.ProductSummery)</p>

                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                            </p>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                }
            </div>*@
